:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 'Poppins', sans-serif;
    --font-family-text : 'Roboto' , sans-serif;
    --font-family-heading: var(--font-family-sans-serif);
    
}

body{
    font-family: var(--font-family-text);
    font-weight : 300;
    font-size: 1.2rem;
}

.pt-7{
    padding-top: 7rem;
    padding-bottom: 7rem;
}

h2{
    font-family: var(--font-family-heading);
    font-weight: 900;
    color: var(--purple);
    font-size:3rem;
}

h3{
    font-family: var(--font-family-sans-serif);
    font-weight: 600;
    color: var(--yellow);
    font-size:1rem;
}
.white-text{
    color:var(--white);
}

.bg-gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.col {
    float: left;
    width: 33.33%;
  }
.row{
    margin-top: 0;
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.bg-gradient#education{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8989ba+0,8989ba+100;Purple+3D */
background: #8989ba; /* Old browsers */
background: -moz-linear-gradient(top, #8989ba 0%, #8989ba 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8989ba 0%,#8989ba 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8989ba 0%,#8989ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 ); /* IE6-9 */
}


@media(mind-width:768px){
    h2{
        font-size:4rem;
    }
}
.site-header{
    min-height : 900px;
    background-image: url("/public/images/sky.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-navigation a{
    color : var(--white);
    font-size: 1.4rem;
}

.main-navigation a:hover{
    color : var(--blue);
}

.login{
  
    margin-right: 0;
    margin-left:5rem;   
}
.login a{
    color: var(--white);
}

.login a:hover{
    color: var(--red);
}


/** EVENT INFO **/
@media(min-width:768px){
.event-info{
    margin-top:15rem;
}
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50%;
}
.event-info p {
    color: var(--white);
    font-size: 1.8rem;
}

.event-numbers{
    color:var(--white);
}
/* EVENT NUMBER */
.event-numbers .display-4 {
    font-size: 2rem;
    font-weight: 700;
    line-height: .7;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right:1rem;
}

.event-numbers > div {
    margin-bottom:2rem;
}
@media(min-width:992px){
    .event-numbers .display-4 {
        font-size: 2rem;
    }
}
.event-numbers span{
    font-size: 1rem;
    color:var(--white);
    font-weight:300;
}

.event-numbers span::before{
    content: ' ';
    display: table;
    clear:both;
}

.event-numbers .conference{
    color: var(--yellow);
}

.event-numbers .workshop{
    color:var(--blue);
}
.event-numbers .day{
    color:var(--green);
}

/**buttons*/

.categories .btn{
    border-radius:0!important;
    width:100%;
    color:black;
    background-color:white;
    border:none;
    font-size:1.4;
    margin-bottom: 1.8rem;
    font-weight: 700;
    padding-top: .8rem;
    padding-bottom: .8rem;
}
@media (min-width:992px){
    .categories .btn{
        width:auto;
        margin-right: 2rem;
    }
    .categories .btn:last-of-type{
        margin-right:0;
    }
}

.categories .btn-primary{
    border-left : 10px solid var(--blue);
}


.categories .btn-success{
    border-left : 10px solid var(--green);
}

.categories .btn-info{
    border-left : 10px solid var(--purple);
}

.categories .btn-warning{
    border-left : 10px solid var(--yellow);
}

.list-group-item.active,
.list-group-item.active:hover{
    background-color:var(--red);
    border-color:var(--red);
}

.list-group-item.active#playphone,
.list-group-item.active#playphone:hover{
    background-color:var(--green);
    border-color:var(--green);
}


.list-group-item.active#topshelf,
.list-group-item.active#topshelf{
    background-color:var(--pink);
    border-color:var(--pink);
}

.list-group-item:hover{
    background-color: var(--white);
}

.list-group-item.list-group-item-action.d-flex.conference-wrapper#work{
    background-color:var(--gray-dark);
    color : var(--white);
}
.conference-wrapper .image{
    margin-right:1rem;

}

.conference-info{
    font-size: 1.2rem;
    color:var(--black);
}
.conference .badge{
    font-size:1rem;
    font-weight: 400;
}

.conference .badge-primary{
    background-color: var(--red);
}
.conference-info .title,
.conference-info .speaker{
    font-size:1.2rem;
    font-weight:700;
}

.conference-info .speaker span{
    font-weight:300;
}
.speaker-list{
    margin-top: 4 rem;
    margin-bottom: 4 rem;
}
.speaker-list .speaker-image{
    height: 150px;
    width: 150px;
    
    overflow:hidden;
}
.speaker-list img{
    transition: transform .3s ease-out;
}
.speaker-list img:hover{
    transform:scale(1.2);
}
.speaker-info h3{
    color:var(--yellow);
    font-weight:700;
}

.speaker-info p{
    font-size: 1rem;
}


.black-text{
    color:var(--black);
}

h3#course{
    color:var(--purple);
    font-size: 10 rem;
}


div.message{
    padding-top: 0%;
    padding-bottom: auto;
    align-self: center;
}

.school{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top:0;
    overflow:hidden;
}

.school-image{

    height: 175px;
    width: 175px;
}
.school img{

    max-height: 100%;
    max-width: auto;
    transition: transform .3s ease-out;
}
.school img:hover{
    transform:scale(1.2);
}
