<% comments.forEach(function(comment) { %> 
<div class="row bootstrap snippets">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                    <ul class="media-list">
                        <li class="media">
                            <a href="#" class="pull-left">
                                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">30 min ago</small>
                                </span>
                                <strong class="text-success"> <%= comment.name %> </strong>
                                <p>
                                    <%= comment.comment %>  
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<% }); %> 

<% var link = "/comment/" + postnum %> 
<form action= <%= link %> method="post"> 
    <input type="text" placeholder="name" name="name" id="name">   </input>
    <input type="text" placeholder="email" name="email" id="email">  </input>
    <input type="text" placeholder="comment" name="comment" id="comment">  </input>
    <button type="submit">Submit</button>
</form>