<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Se Jin Lee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900|Roboto:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />

</head>

<body>
    <header class="site-header">
        <div class="container">
            <nav class="nav nav-pills justify-content-center flex-column flex-md-row text-center pt-5 main-navigation">
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="#work" class="nav-item nav-link">Work</a>
                <a href="#education" class="nav-item nav-link">Education</a>
                <a href="/blog" class="nav-item nav-link">Blog</a>
                <div class="login row">
                    <% if(!currentUser) {  %>
                        <li>
                            <a href="/register" class="nav-item nav-link" method="get"> Register </a>
                        </li>

                        <li>
                            <a href="/login" class="nav-item nav-link" method="get"> Login </a>
                        </li>
                        <% } else { %>
                            <li>
                                <a href="/logout" class="nav-item nav-link" method="get"> Log out </a>
                            </li>
                            <% } %>
                </div>
            </nav>

            <div class="row justify-content-center">
                <div class="col-md-8 pt-5 pt-md">
                    <div class="event-info">

                        <img src="/public/images/logo.png" alt="Se Jin's Resume" class="center">
                        <p class="text-center text-lg-right">
                            <i class="fas fa-desktop"></i>
                            Software Developer </p>

                    </div>
                </div>
                <!-- col-md-8 -->
                <div class="col-md-8">
                    <div class="row event-numbers text-center">
                        <div class="col-lg-4">
                            <p class="m-0 conference display-4">Email
                                <span>sjleesogang@gmail.com</span>
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <p class="m-0 workshop display-4">Location
                                <span>Sunnyvale, CA</span>
                            </p>

                        </div>
                        <div class="col-lg-4">
                            <p class="m-0 day display-4">Passion
                                <span>Coding and Overwatch</span>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
            <!-- row -->
        </div>
    </header>

    <section id="about" class="conference-list bg-gradient pt-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="text-center white-text"> About Me </h2>
                    <p class="white-text mt-3"> Hello world ! I'm a developer </p>
                </div>
                <div class="col-12">
                    <nav class="nav nav-pills nav-fill mt-3 categories">
                        <button class="nav-item nav-link btn btn-danger">Proactive</button>
                        <button class="nav-item nav-link btn btn-primary">Result-oriented</button>
                        <button class="nav-item nav-link btn btn-warning">Passionate</button>

                    </nav>
                </div>
                <div class="col-lg-6">
                    <div class="list-group mt-5">
                        <div class="list-group-item list-group-item-action active text-center heading">
                            Who is Se Jin Lee?
                        </div>
                        <div class="list-group-item list-group-item-action d-flex conference-wrapper">
                            <div class="image">
                                <img src="/public/images/me 2.jpg" class="img-fluid rounded-circle">
                            </div>
                            <div class="conference-info">
                                <p class="mb-1 time">
                                    <span class="badge badge-primary">
                                        JAVA
                                    </span>
                                    <span class="badge badge-danger">
                                        C++
                                    </span>
                                    <span class="badge badge-secondary">
                                        SQL
                                    </span>
                                    <span class="badge badge-info">
                                        Python
                                    </span>
                                </p>
                                <p class="mb-1 title">
                                    I feel happy when I'm coding
                                </p>
                                <p class="mb-1 description">
                                    I am a college student who is majoring in Computer Science and Engineering at Sogang University in Korea. I am looking for
                                    an internship opportunity that will help to utilize problem solving skills to further
                                    improve as a developer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="work" class="about container pt-7">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <h2 class="mb-3"> Work Experiences </h2>
            </div>
            <div class="list-group mt-5">
                <div class="list-group-item list-group-item-action active text-center heading" id="playphone">
                    JAVA BACKEND SOFTWARE INTERN
                </div>
                <div class="list-group-item list-group-item-action d-flex conference-wrapper" id="work">
                    <div class="image">
                        <img src="/public/images/company.png" class="img-fluid">
                    </div>
                    <div class="conference-info">
                        <p class="mb-1 time">
                            <span class="badge badge-primary">
                                Sept 2018 - PRESENT
                            </span>
                        </p>
                        <p class="mb-1 title">
                            Playphone, Sunnyvale
                        </p>
                        <p class="mb-1 description">

                            <ul> Develop server software utilizing Java Spring to power the backend of PlayPhone mobile social
                                gaming platform. </ul>


                            <ul> Design and optimize database to allow for high scalability among millions of users.</ul>

                            <ul> Bug fixes and optimizations from previous/existing engineering contributors to make the platform
                                operate more efficiently.</ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="list-group mt-5">
                <div class="list-group-item list-group-item-action active text-center heading" id="topshelf">
                    EDITORIAL INTERN
                </div>
                <div class="list-group-item list-group-item-action d-flex conference-wrapper" id="work">
                    <div class="image">
                        <img src="/public/images/topshelf.jpg" class="img-fluid">
                    </div>
                    <div class="conference-info">
                        <p class="mb-1 time">
                            <span class="badge badge-primary">
                                Sept 2017 - Dec 2017
                            </span>
                        </p>
                        <p class="mb-1 title">
                            TopshelfGaming , Irvine
                        </p>
                        <p class="mb-1 description">
                            <ul>
                                learned about the intricacies of video game journalism by exploring and practicing clerical skills, factchecking, copy-editing,
                                research, and reporting.
                            </ul>
                            <ul>
                                published game reviews, opinion-based articles and interview online on TopshelfGaming.net

                            </ul>
                            <ul>
                                Participated in a weekly meeting with other interns and supervisors to receive feedbacks on articles to further improve skills
                                in writing
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>

    <section id="education" class="container-fluid bg-gradient pt-7 justify-content-center text-center">
        <h2 class="text-center mb-5">
            Education
        </h2>
        <div class="row center">
            <div class="col-lg-4 col">
                <div class="school-image school">
                </div>
            </div>
            <div class="col-lg-4 col">
                    <div class="school-image school">
                            <img src="/public/images/sogang.gif" class="fit" class="fit" alt="">
                        </div>
                </div>
                <div class="col-lg-4 col">
                        <div class="school-image school">
                                </div>
                    </div>
        </div>
        <div class="row center">
                <div class="col-lg-4 col">
                    <div class="school-image school">
                        <img src="/public/images/chapman.jpg" class="fit" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col">
                        <div class="school-image school">
                             </div>
                    </div>
                    <div class="col-lg-4 col">
                            <div class="school-image school">
                                    <img src="/public/images/purdue.jpg" class="fit"  class="fit" alt="">
                                </div>
                        </div>
            </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/common-js/smooth-scroll.polyfills.min.js"></script>
</body>

</html>