<% include partials/header_blog %>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <% for(let i = first + 1 ; i < last ; i++ )  { %> 
             <% var date = posts["post1"]["data"]; %> 
            <a href=  "/post/" action="get" >
              <h2 class="post-title">
                  <%= posts["post" + i]["title"] %>
               </h2>
              <h3 class="post-subtitle">
                 <%= posts["post" + i]["description"] %>
              </h3>
            </a>
            <p class="post-meta">Posted btn-primary
              <a href= " " action="get">Se Jin</a>
            on  <%= posts["post" + i]["data"] %>
           </p>
            <% } %>
          </div>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="/post/start/" + >Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>


<% include partials/footer_blog %>
