<% include partials/header %>

<nav class="navbar navbar-inverse navbar-fixed-top"> 
    <div class="container">
        <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    
        </div>
        <form action="/blog" method="get">
     <a class="navbar-brand"> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Se Jin</a>
    </form>
    <div class="collapse navbar-collapse" id="bs-nav-demo">
     <ul class="nav navbar-nav">
        <li> <a href="/resume" method="get"> <span class="glyphicon glyphicon-education" aria-hidden="true"> </span>My Resume </a></li>
        <li> <a href="/blog" method="get"> <span class="glyphicon glyphicon-book" aria-hidden="true"> </span> Journal </a></li>
        <li> <a href="/register" method="get"> <span class="glyphicon glyphicon-book" aria-hidden="true"> </span> Register </a></li>

        <li> <a href="/login" method="get"> <span class="glyphicon glyphicon-book" aria-hidden="true"> </span> Login </a></li>

        <li> <a href="/logout" method="get"> <span class="glyphicon glyphicon-book" aria-hidden="true"> </span> Log out </a></li>
    </ul>
    </div>
</div>
</nav>
<div class="container">
<div class="row">
<div class="col-lg-12">
    <div id="content">
    <h1>Welcome to Se Jin's Website</h1>
    <h3>A Programmer who writes journals</h3>
    <hr>
    <a href="/blog" method="get">  <button class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Start Reading  </button> </a>
     </div>
</div>
</div>
</div>
<% include  partials/footer %> 