<% include partials/header %>

<div class="container">
<div class="row">
<div class="col-lg-12">
    <div id="content">
    <% if(currentUser){ %> 
      <h1> Hi, <%= currentUser.username  %> </h1>
    <% } %> 
    <h1>Welcome to Se Jin's Website</h1>
    <h3>A Programmer who writes journals</h3>
    <hr>
    <a href="/blog" method="get">  <button class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Start Reading  </button> </a>
     </div>
</div>
</div>
</div>
<% include  partials/footer %> 