<% include partials/edit_header %>
<div class="message">
    <% if(error && error.length > 0) { %>
  <div class="alert alert-danger" role="alert"> 
    <%= error %> 
  </div>
   <% } %>
   <% if(success && success.length > 0) { %> 
  <div class="alert alert-success" role="alert"> 
    <%= success %> 
  </div>
   <% } %> 
</div>
<div class="editcomment">
<form action= "/post/<%=id%>/comment/<%=comment._id%>/edit" method="post"> 
        <div class="form-group" id="comment">
                <label for="comment">Comment</label>
                  <input type="text"  class="form-control" placeholder="Your opinion?" name="comment" id="comment" required>  </input>
            </div>
        <button type="submit" class="btn btn-default" id="submit">Submit</button>
      </form>
</div>
<% include partials/post_footer %>