
<% include partials/post_header %>

<div class="container">
        <div class="row">
        <div class="col-lg-12">
            <div id="content">
                <h1> Login ! </h1>
                  
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit </button>
</form>
        </div>
        </div>
        </div>
    </div>


<% include partials/post_footer %>

