body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary{
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 30px;


    &-sub{
    display: block;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    animation-timing-function: ease-out;
    animation-name: moveInRight;
    animation-duration: 1s;
    }


    &-main{
    display: block;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 20px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
    animation-iteration-count: 3;
    animation-delay:3s;
    */
    }
} 

.heading-secondary{
    font-size: 2.5rem;
    text-transform:  uppercase;
    font-weight: 700;
    display: inline-block;
    background-image : linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    letter-spacing: .2rem;
    color: transparent;
    transition: all .2s;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size:1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}