<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p> 벌써 12월 중순이 되었어요. 미국에 온지 사실 몇 주밖에 안된 것 같은데 일을 해서 그런지 시간이 정말 빨리 가네요.
              한국에 있는 친구들 보면 기말고사를 보고 있던데 저는 회사 다니니깐 시험이 없어서 정말 다행인것같아요(보고있냐 애들아 ㅎㅎ).. 
              근데 또 1년 뒤 돌아가서 봐야할 생각을 하니 눈물이 앞을 가리네요..친구들 다 시험 잘봤으면 좋겠어요! 족보도 많이 모아주고~   
          </p>
          <h3 class="section-heading">지난 2년간 10개월을 미국에서 지내다 </h3>
          <p> 저는 이제 학기로 치면 3학년이 끝나가는데 사실 한국에서 학교를 다닌건 2년밖에 안돼요. 2학년 2학기때
              캘리포니아 오렌지카운티에 교환학생을 5개월 갔다왔고 3학년 여름방학에 퍼듀대학교 캡스톤디자인 프로그램으로 2개월,
              그리고 현재 진행중인 실리콘벨리 인턴십 프로그램으로 3개월. 무려 총 10개월을 미국에서 지냈어요. 저번에 8월에 입국했다가
              인턴 합격받고 다시 출국한다고하니깐 친구들이 왜 돌아온거냐고 농담으로 말했던적이 있어요 ㅋㅋㅋㅋ 제가 생각해도 특이할정도로
              미국에서 오래 시간을 보내게된 것 같아요.  
          </p>
          <p> 말레이시아에서 어렸을때부터 10년을 살면서 고등학교를 졸업하게 됬고, 국제학교였기 때문에 대부분 친구들은
              미국,영국,호주등 외국대학을 가게 됬어요. 사실 미국대학 입시도 했었고 가고싶던 미국대학에 합격까지 했었지만 
              한국에 대학을 오게 되었어요. 결론적으로는 서강대학교로 오게된건 정말 잘한것같고 후회하지 않아요. 
              하지만 항상 궁금증을 가지고 있었어요.  
            </p>
            <blockquote class="blockquote">'만약 내가 미국대학에 갔다면 지금쯤 뭘하고 있을까?'</blockquote>
                    <img class="img-fluid" src="/images/chapman.jpg" alt="">
                  <span class="caption text-muted">California Orange County 에 위치한 Chapman University </span>
      
            <h3 class="section-heading"> 궁금증을 풀기위해 떠난 교환학생</h3>
            <p> 감사하게도 부모님이 교환학생을 갈 수 있게 지원을 해주셨고 저는 고등학교때 만들었던 토플점수 유효기간이 곧 지날 예정이여서
                고민없이 2학년 2학기, 조금 빠른 시기에 교환 프로그램을 신청하게 됬어요. 지원할때는 저는 무조건 살기 좋고 놀기 좋은 곳으로 골랐어요. 제 개인적인
                생각엔 교환학생가서 공부도 좋지만 현지 친구들 만들고 여행 다니고 문화 체험하는게 남는것같아요. 공부는 솔직히 한국대학도
                많이 빡세고 힘드니깐 굳이 비행기타고가서 개고생하는건 후회할 수도 있다고 생각했어요.  
                  </p>
            <blockquote class="blockquote">'그냥 수업 대충 쉬운거 몇개 듣고 여행 많이 다녀야지~'</blockquote>
            <p> 라고 생각하고 떠난 교환학생이였는데 결국엔 18학점에 무급 인턴까지 했어요. 교환학생에서 제일 기억이 남는건 교수님들이에요.
                오렌지카운티에 있는 Chapman University를 가게됬는데 아이비리그처럼 높은학교가 아니였음에 불과하고 교수님들이 하나같이
                너무 좋았어요. 그 중에 OS 를 가르치셨던 교수님은 강의력이 너무 좋아서 이해가 쏙쏙되고 열정까지 많으셔서 매 주 퀴즈가 있었는데도 
                수업 1시간전 학생들에게 질문을 받았어요. 매 주 1시간 빨리 수업을 가서 교수님한테 1대1로 질문을 하는데 이해가 안될 수가 없었죠.
                거기다가 교수님들이 친화력이 쩔어서 친구처럼 같이 스위치게임을 하고 일상대화를 나누고.. 너무 즐거웠어요. 수업이 너무 재밌어서
                원래는 12학점을 들으려다가 추가로 더 듣게 된거에요.
                      </p>
                      <p>
                        제 생각엔 한국에선 아직도 교수님과 학생들이 친해지기 정말 어려운 것같아요. 이건 한쪽 탓이 아니라 우리 사회에 깊히 박혀있는 위계질서 때문에 안보이는 벽이 생길 수 밖에 없는 것 같아요. 
                        하여튼 교수님과 친해지고 편해지니깐 눈치를 안보고 정말 궁금한걸 물어보거나 조언을 구할 수 있어서 좋았어요.
                      </p>
                      <p>
                          <b> 교환학생의 장점</b>은 미국대학의 교육 방식, 교수님들이 학생들을 대하는 스타일이 완전히 다르다는거에요.
                          한쪽이 더 낫다고 할 수는 없지만 엄청 색다른 경험이였어요. 또한 같은 또래 외국 친구들을 만들 수 있다는게 
                          큰 메리트에요. 
                    </p> 
                    <p>
                            <b>교환학생의 단점</b>은 돈!!!! 
                            교환비자로 왔기 때문에 미국에서 일을 하지 못하니깐 백퍼센트 자기 자비로 지내야해요. 물론 아끼면 아낄 수 있겠지만 그럼 여행을 못다니잖아요. 개인적으로 교환학생은 가서 여행을 많이 할수록 
                            남는것. 그래서 저는 돈을 막 쓰며 우버를 타고 놀러다니고 비행기를 타고 여행 다녔어요.  
                            </p>
                        <p>
                            <b> 교환갈 학교를 고를 때 팁 </b> 이라면 
                            제 생각엔 되도록 비싼 사립학교를 가는게 좋은것 같아요. 미국은 국립학교는 대부분 엄청 크고 학생 수가 많아요. 그래서
                            문제가 한 수업을 몇 십명, 몇 백명과 같이 들을 수도 있어요. 그럼 교수님한테 질문하기도 힘들고 별로에요. 비싼
                            사립학교는 대부분 교수 학생 비율이 낮아서 수업의 질이 좋을 수 밖에 없는것같아요.   
                      </p>
                      <h3 class="section-heading"> 여름방학 퍼듀대학교 캡스톤 프로그램 </h3>
                      <p>
                          그렇게 교환학생을 끝내고 미국뽕에 가득 취해서 한국에 귀국을 했어요. 3학년 1학기를 다니는중에 학교에서 퍼듀대학교
                          캡스톤 프로그램 지원 공지가 뜬걸 발견했어요. 미국에 다시 가고싶은 마음이 컸고 거기다 이 프로그램은 비행기표, 
                          숙비, 식비까지 제공해주니 놓치고 싶지 않은 기회였어요. 
                      </p>
                      <img class="img-fluid" src="/images/purdue.jpg" alt="">
                  <span class="caption text-muted">California Orange County 에 위치한 Chapman University </span>
      
                      <p>
                          프로그램 자체는 2개월동안 퍼듀대학교 computer and information technology 의 교수님들과 함께
                          캡스톤 디자인 프로젝트를 진행하는거에요. 프로젝트 주제는 AI, Big Data, IOT 등 다양해서 직접 정할 수 있어요.
                          미국 대학원을 오면 어떤것을 하게 되는지 경험할 수 있어서 좋았어요.
                      </p>
                      <p>
                          
                      <b>퍼듀 프로그램의 장점</b>
                      은 교수님, 친구들 그리고 지원이에요.
            
                      퍼듀대학교는 미국에 유명한 공대이고 거기다 직접 2개월동안 매일 만나고 도움을 받게되는 교수님은 AI 에서
                      굉장히 유명한 분이세요. 그 분에게 공짜로 2개월동안 수업을 들을 수 있고 멘토링을 받을 수 있다는건 정말 좋았어요. 거기다가
                      가끔 천사가 아닐까 생각이 들 정도로 사람이 좋으셔서 항상 학생들을 챙겨주시고 친구처럼 고민도 들어주세요. 
                      또한 이 프로그램은 다른 한국대학에서 같이 진행하기 때문에 총 30명의 한국학생이 참여해요. 그래서 2달동안 서로 친해지고
                      여행도 다녀서 좋은 추억을 만들기 좋아요. 끝으로 프로그램에서 비행기표, 식비, 숙비까지 지원해주기 때문에 여행다니는거?
                      빼고는 거의 자비가 안든다고 보면 되요. 
                      </p>
                  <p>
                      <b> 퍼듀 프로그램의 단점 </b> 이라면 인디애나에 위치했다는거에요. 정말 그렇게 넓은 밭은 태어나서 처음봤어요.
                      매우 친환경적인곳이에요. 그래도 퍼듀대 자체가 크고 안에 음식점이나 놀것이 꽤 있기 때문에 나쁘진 않았어요. 
                </p>

            <h3 class="section-heading"> 현실적인 실리콘벨리 인턴의 장단점 </h3>

            <img class="img-fluid" src="/images/intern.jpg" alt="">
            <p>
                    그렇게 퍼듀 프로그램 덕분에 미국에 더욱 더 사랑에 빠져서 이번엔 인턴까지 오게 됬어요. 교환학생, 
                </p>
                <p>
                    
                <b>실리콘벨리 인턴의 장점 </b>은  <b>실무 경험, 네트워킹</b> 이에요.
               제가 오게 된 회사는 비록 크진 않지만 15년이 된 회사여서 꽤나 튼튼한 회사인것같아요. 또 최근에 일본에 대기업과
               손을 잡고 일본에서 게임 토너먼트 웹사이트를 런칭하게 됬어요. 실제로 몇 십만명 유저를 가지고 있는 프로젝트에 뛰어 들어서
               개발을 하게 됬어요. 학교에서 일년동안 코딩을 한 것보다 여기서 한달동안 더 많이 하는것 같아요. 빡세긴 하지만 그만큼
               많이 배울 수 있어서 좋아요. 학교에서 공부할때는 내가 진짜 나중에 사회에 나가서 '개발자'가 될 수 있을까? 고민을 많이
               했었는데 이 경험을 통해서 자신감이 생기게 된 것같아요.
                </p>
                <p>
                    실리콘벨리는 솔직히 미친 것 같아요. 여기는 사람 10명이면 9명은 IT쪽 사람인것같아요. 우버를 타다 우연히 드라이버가 
                    컴공이라는걸 알아서 어셈블리언어에 관해 얘기한적도 있어요. 사람들이 다 컴퓨터에 미친 사람들이니깐 컴공생이라면
                    부심이 생길 수 밖에 없어요. 거기다 널린 사람들이 스탠포드 학생, 구글, 애플 직원이에요. 한국에선 멀게만 느껴졌던
                    사람들이랑 친해질 기회가 많아요. 
                </p>
            <p>
                <b> 실리콘벨리 인턴의 단점 </b>은 <b>외로움과 돈 </b> 이에요.  
                <p>
                    아무래도 회사를 다니다보니 매일 마주치고 생활하는 사람들이 저보다 나이가 10~30살 더 많으신 분들이에요. 저희 회사
                    직원분들은 다들 천사여서 친해졌지만 그래도 같은 또래 친구들이 많이 그리워요. 인턴으로 가족없이
                    혼자와서 지내니깐 외로움을 느낄 수 밖에 없어요. 교환학생이나 퍼듀프로그램때는 같은 또래 친구들이랑만 지내서 외로운적이
                    없었는데 이번에는 많이 다르네요. 
                </p>
                <p>
                    저는 인턴이지만 왠만한 중소기업 신입 연봉만큼 받는 것 같아요. 하지만 넉넉하지 않아요. 왜냐면 여긴 캘리포니아니깐요. 
                    월급의 반이 항상 집값으로 나가요. 정말 인턴십을 통해 많이 배우고 재밌는데 항상 생각해요 
                    <blockquote class="blockquote">'아 여기서 집값만 안나가도 매 달 라스베가스 가겠다'</blockquote>
                </p>

                <p>
                    이렇게 제가 지난 10개월동안 미국에서 지내면서 느꼇던 것들을 적어봤어요. 코멘트 기능을 업데이트했는데 사용해주시는
                    분들이 없군요ㅠㅠㅠㅠㅠㅠ. 그래도 업데이트는 앞으로 더 할 예정이에요! 그럼 읽어주셔서 감사합니다  
                </p>
          </p>
        </div>
      </div>
    </div>
  </article>
