<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p> 
              안녕하세요. 석 달에 정말 한 번 포스팅을 하게 되네요. 특히나 2월부터 회사 상황이 안 좋아져서 이직 준비도 해보고 
              마음도 복잡해서 블로그 자체를 잊어버리고 산 것 같아요. 회사 상황도 생각보다 괜찮아졌고 저는
              그대로 계속 일하기로 돼서 다시 블로그 포스팅을 시작하네요! 제가 작년 9월 말에 왔는데 벌써 4월..
              약 7 개월 차가 되네요. 미국에 오니깐 하루하루가 너무 빨리 가요. 저는 6월 말을 마지막 근무 날로 정했고 
              7월 초에 귀국할 예정이에요 ㅎㅎ   
          </p>
          <h3 class="section-heading">실리콘벨리에선 인턴도 연봉이 1억? </h3>
          <p> 네이버에 실리콘벨리에 관해 검색하면 뜨는 많은 기사들은 실리콘벨리에서는 인턴도 연봉이 1억이라고 해요. 당연히 
              틀린 소리는 아니에요. 구글,아마존,페이스북등 큰 기업들은 인턴이어도 매달 6-7천달러씩 받고 스타트업들중에서도
              꽤 많이 주는곳도 여러곳있어요. 하지만 다 그렇나? 전혀 아니에요. 저처럼 대학생 신분으로 온 많은 학생들은 대부분 스타트업을
              많이 가게 되는데, 거의 많은 분들이 최저임금 (제가 사는 서니베일은 15.75 달러) 을 받고 일하게 돼요. 최저임금을 받으면
              한국 돈으로 월급을 200만원 후반-300만원 받을 수 있어요. 저 또한 여기서 최저임금을 받고 일하고 있고 다행히 실리콘벨리에서도
              최저임금이 높은 서니베일에서 일하고있어요. 그리고 심지어 어떤 스타트업은 최저임금조차 안 주는 곳들이 있어요. 
          </p>
          <p>
           <b>최저임금을 받고 생활이 가능할까? </b> 많이 궁금하실 것 같아요. 여기서부터는 제가 겪은 경험을 토대로 
           말씀드릴게요. 하지만 저보다 훨씬 많이 받는 인턴들도 많고 적게 받는 인턴들도 있으니깐 여기 온다고 무조건 이렇다는게 아니라는걸 
           알아주세요! :) 
           <h3 class="section-heading">실리콘벨리의 최대 단점은 월세와 생활비 </h3>
           <p> 사실 지금 최저 임금을 받고 있지만 따지고 보면 한국에 웬만한 대기업 초봉만큼 받고 있어요. 이 월급 그대로 만약
               한국에 살고있다면 전 매달 쇼핑을 엄청 했을거에요.. 문제는 여기 월세와 생활비가 한국에 거의 2배라는거에요.
               <b>여기 월세는 정말 미쳤어요</b> 여기에서 방 한칸만 얻어 살아도 800~1000달러이고 아예 자취방(studio)를 
               얻으려면 2-3000달러가 필요해요. 즉, 자취방을 얻어 사는건 최저임금을 받고 일하는 인턴들에겐 불가능하죠. 대부분 그래서 룸메이트와 함께 집을 얻어서 화장실을 같이 쓰면서 각각 방을 쓰게 돼요 </b> 
               <b>생활비 또한 미쳤어요</b> 생활비에서 큰 부분을 차지하는건 교통비와 식비인데, 저같이 운전을 못하면 우버나 리프트를
               자주 사용하게 돼요. 
               <blockquote class="blockquote">'엥 버스 타고 다니면 돈 아낄 수 있는 거 아니야?'</blockquote>
               저도 처음에는 회사 위치랑 집 위치를 보고 버스를 타고 다니면 된다고 생각했어요. 하지만 한국만큼 미국은 대중교통이 좋지 않아요(특히나 캘리포니아).
               버스가 한국만큼 자주 오지도 않고, 굉장히 일찍 끊겨요. 그리고! 먼 거리이면 우버 타면 걸릴 시간에 두배는 걸려요. 우버 타면 30분 걸릴걸 버스 타면 1-2시간 걸리니깐
               우버, 리프트를 탈 수밖에 없어요. 그래서 교통비를 아끼고 싶다면 차라리 싼 중고차를 사서 운전을 하고 다니는걸 추천 드려요. 그래서 만약 여기 인턴십을 오시게 된다면 꼭
               운전면허를 따고 오시라고 말씀드리고 싶네요..!
           </p>
           <h3 class="section-heading">무시할 수 없는 팁과 텍스 </h3>
           <p>
               그리고 식비가 여기서 비싼 이유는 팁과 텍스에요. 아무리 간단하고 싼걸 먹어도 12~15달러 정도인데 
               여기서 또 팁과 텍스를 내면 1인분당 20달러정도 나와요. 한국에서는 2만원으로 애슐리 먹을 수 있잖아요? 여기는 그냥
               아무 식당이나 가서 하나 시키면 그 정도 내야 된다고 보면 돼요. 한 끼가 내 hourly pay 보다 높으니 엄청 부담되는게 사실이에요.
               그래서 인턴을 구할 때 회사에서 점심을 제공하는지가 정말 중요한 것 같아요. 밥이 나오면 기본으로 하루에 20달러씩 덜 쓰게 되는 거니깐요. 
               감사하게도 저희 회사에는 밥이 나와서 저는 식비에서는 돈을 많이 안 쓰는 편인데도 부담이 돼요.
           </p>
           <h3 class="section-heading">엄청나게 가족 중심적인 미국 사회 </h3>
           <p>
                만약 여기에 제 가족이 있다면 이 점은 단점이 아닌 엄청난 장점일 거예요. 
                저희 회사 같은 경우에 4시만 되면 대부분 퇴근을 하고 가족과 시간을 보내요.
                 그래서 한국처럼 퇴근 후에 직원들끼리 저녁을 같이 먹거나 시간을 보내지 않아요. 
                 이러한 점 때문에 나중에 꼭 여기에서 일하고 싶지만, 지금은 가족이 한국에 있기 때문에 엄청 외로워지기 쉬운 것 같아요. 
                 특히나 저처럼 정말 '혼자' 미국에 와서 적응하고 지낸다면 퇴근 후에 할 게 정말 없어요. 
                 또 회사에서 일해보니 또래 친구를 만들기 정말 어렵더라고요. 특히나 인원이 적은 스타트업에서는 인턴이 
                특히나 인원이 적은 스타트업에서는 인턴이 몇 명 없다보니 또래 친구들을 만나려면 meetup 같은걸 나가서 만들어야 해요.  
            </p>

            

           <h3 class="section-heading">하루아침에 어떻게 될지 모르는 스타트업 </h3>
           <p>
                그리고 제가 이 포스트를 쓰게 된 큰 이유인데 최근에 우리 회사가 많이 어려워졌어요. 전날까지 다들 행복하게 수다 떨면서 개발하고 개선할 점들을 고민했었는데 회사 사정 때문에 하루아침에 몇십명이 해고됐어요. 처음 일하게 된 회사였고 특히나 인턴이기 때문에 엄청 충격적이었어요. 하지만 이런 일은 실리콘밸리에서 매일 일어나요. 스타트업뿐만 아니라 대기업에서도 어떤 프로젝트가 잘 안 되면 몇백명이 한꺼번에 해고되기도 해요.
                <p> 저도 이 일이 있기 전에 스트레스 한번 받지 않고 5개월 동안 일했기 때문에 상상조차 하지 못했어요. 저는 다행히도 살아남아서 6월 말까지 일하게 되었는데 만약에 잘렸다면 바로  그달에 귀국을 할 뻔했어요. 저처럼 J1 비자로 인턴을 왔는데 잘리면 한 달 만에 다른 회사를 찾지 않으면 미국을 떠나야 해요. 저 같은 경우 소식을 듣고 다른 회사 이직 준비를 아주 짧게 했었는데 생각보다 쉽지 않더라고요. 면접 단계가 기본으로 3-4단계고 또한 비자 때문에 고용되기 더 어려운 것 같아요. 제가 상상도 못했던것처럼 여기 스타트업에 인턴을 오게되면 앞으로 회사가 어떻게 될지는 아무도 모르는 것 같아요. 
                   </p>   
            </p>

            <h3 class="section-heading">그래서 여기온게 후회되나? </h3>
           

             <p>
                    이러한 단점에 관해 글을 쓰게 된 건 여기 온다고 모든 게 완벽하진 않다는 걸 말씀드리고 싶어서에요. 하지만 제가 적은 것들 때문에 여기온걸. 후회하지 않아요. 다시 돌아갈 수 있더라도 똑같은 선택을 해서 이 회사에 인턴을 올 것 같아요. 회사 상황이 안 좋아졌지만 회사 분들이 하나같이 다 따뜻하시고 열정적으로 일하셔서 많은 걸 배웠어요. 
                    
               </p><p>   
                   <b> 저는 여기에서 지내면서 힘든 일보단 행복한 일이 훨씬 많았고 새로운 것들을 보고 경험했어요. </b> 개발자로서 7개월 전보다 훨씬 더 성장했고 또 제 생각과 사상 자체를 바꾸게 된 여러 경험도 한 것 같아요. 그래서 이러한 단점이 있지만, 장점이 훨씬 많기 때문에 다른 분들도 도전하셔서 여기에 오셨으면 좋겠어요. :) 
             </p>
            <p>
                         
            </p>
      </div>
    </div>
  </article>